# Visual Studio
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
TestResults/

# NuGet
*.nupkg
packages/

# Rider
.idea/

# Visual Studio Code
.vscode/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Others
*.log
